.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerImg {
        background-image: url('./assets/Union.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
    }

    h1 {
        font: 600 24px Poppins;
        margin-left: 12px;
        margin-right: 280px;
        color: #232134;
    }

    .nav {
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    .nav p {
        text-align: left;
        font: 400 16px Inter;
        color: #232134;
    }

    .nav p:hover {
        color: #5E96FC;
    }
}