.info,
.descript {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
}

.dop_info {
    display: flex;
    align-items: center;
    gap: 15px
}

.city {
    display: flex;
    gap: 10px;
}

.point {
    background-image: url(../assets/Point.svg);
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

.image {
    background-image: url(../assets/Icon.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.descript {
    margin-top: 20px;

    h2 {
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
    }

    p {
        color: #232134;
    }
}